.e2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(46.000001057982445, 50.000000819563866, 54.00000058114529, 1);
	width:1440px;
	height:2650px;
	position:absolute;
}
.e95_325 { 
	width:998px;
	height:820px;
	position:absolute;
	left:320px;
	top:1780px;
}
.e95_280 { 
	width:120px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}
.e95_279 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:30px;
	position:absolute;
	left:20px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_250 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/anteka.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_282 { 
	width:120px;
	height:140px;
	position:absolute;
	left:226px;
	top:0px;
}
.e95_281 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:30px;
	position:absolute;
	left:17px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_251 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/apceros.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_284 { 
	width:120px;
	height:140px;
	position:absolute;
	left:438px;
	top:0px;
}
.e95_283 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:30px;
	position:absolute;
	left:5px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_252 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/aptonoth.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_286 { 
	width:120px;
	height:140px;
	position:absolute;
	left:660px;
	top:0px;
}
.e95_285 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:30px;
	position:absolute;
	left:21px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_253 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/barnos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_288 { 
	width:120px;
	height:140px;
	position:absolute;
	left:878px;
	top:0px;
}
.e95_287 { 
	color:rgba(255, 255, 255, 1);
	width:83px;
	height:30px;
	position:absolute;
	left:19px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_254 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/boaboa.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_290 { 
	width:120px;
	height:140px;
	position:absolute;
	left:0px;
	top:170px;
}
.e95_289 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:30px;
	position:absolute;
	left:21px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_255 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/cortos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_292 { 
	width:120px;
	height:140px;
	position:absolute;
	left:226px;
	top:170px;
}
.e95_291 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:30px;
	position:absolute;
	left:10px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_256 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/gajalaka.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_294 { 
	width:120px;
	height:140px;
	position:absolute;
	left:438px;
	top:170px;
}
.e95_293 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:30px;
	position:absolute;
	left:28px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_257 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/gajau.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_296 { 
	width:120px;
	height:140px;
	position:absolute;
	left:660px;
	top:170px;
}
.e95_295 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:5px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_258 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/gastodon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_298 { 
	width:120px;
	height:140px;
	position:absolute;
	left:878px;
	top:170px;
}
.e95_297 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:30px;
	position:absolute;
	left:24px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_259 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/girros.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_300 { 
	width:120px;
	height:140px;
	position:absolute;
	left:0px;
	top:340px;
}
.e95_299 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_260 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hornetaur.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_303 { 
	width:120px;
	height:140px;
	position:absolute;
	left:226px;
	top:340px;
}
.e95_302 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:30px;
	position:absolute;
	left:26px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_261 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/jagras.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_305 { 
	width:120px;
	height:140px;
	position:absolute;
	left:438px;
	top:340px;
}
.e95_304 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:30px;
	position:absolute;
	left:34px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_262 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/kelbi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_307 { 
	width:120px;
	height:140px;
	position:absolute;
	left:660px;
	top:340px;
}
.e95_306 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:30px;
	position:absolute;
	left:7px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_263 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/kestodon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_309 { 
	width:120px;
	height:140px;
	position:absolute;
	left:878px;
	top:340px;
}
.e95_308 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:30px;
	position:absolute;
	left:17px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_264 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/mernos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_311 { 
	width:120px;
	height:140px;
	position:absolute;
	left:0px;
	top:510px;
}
.e95_310 { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:30px;
	position:absolute;
	left:6px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_265 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/mosswine.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_313 { 
	width:120px;
	height:140px;
	position:absolute;
	left:226px;
	top:510px;
}
.e95_312 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:30px;
	position:absolute;
	left:28px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_266 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/noios.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_315 { 
	width:120px;
	height:140px;
	position:absolute;
	left:438px;
	top:510px;
}
.e95_314 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:30px;
	position:absolute;
	left:34px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_267 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/popo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_317 { 
	width:120px;
	height:140px;
	position:absolute;
	left:660px;
	top:510px;
}
.e95_316 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:30px;
	position:absolute;
	left:11px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_268 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/raphinos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_319 { 
	width:120px;
	height:140px;
	position:absolute;
	left:878px;
	top:510px;
}
.e95_318 { 
	color:rgba(255, 255, 255, 1);
	width:83px;
	height:30px;
	position:absolute;
	left:19px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_269 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/shamos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_321 { 
	width:120px;
	height:140px;
	position:absolute;
	left:0px;
	top:680px;
}
.e95_320 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:30px;
	position:absolute;
	left:20px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_270 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/vespoid.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_323 { 
	width:120px;
	height:140px;
	position:absolute;
	left:226px;
	top:680px;
}
.e95_322 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:30px;
	position:absolute;
	left:29px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_271 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/wulg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_248 { 
	color:rgba(255, 255, 255, 1);
	width:335px;
	height:60px;
	position:absolute;
	left:302.5px;
	top:1700px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e95_326 { 
	width:1052px;
	height:1330px;
	position:absolute;
	left:320px;
	top:278px;
}
.e92_160 { 
	width:120px;
	height:140px;
	position:absolute;
	left:37px;
	top:0px;
}
.e91_73 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/anjanath.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_159 { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:30px;
	position:absolute;
	left:8px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_165 { 
	width:120px;
	height:140px;
	position:absolute;
	left:476px;
	top:0px;
}
.e91_75 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/bazelgeuse.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_164 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:30px;
	position:absolute;
	left:2px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_163 { 
	width:120px;
	height:140px;
	position:absolute;
	left:264px;
	top:0px;
}
.e91_74 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/barroth.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_161 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:30px;
	position:absolute;
	left:14px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_169 { 
	width:215px;
	height:140px;
	position:absolute;
	left:650px;
	top:0px;
}
.e91_100 { 
	width:120px;
	height:120px;
	position:absolute;
	left:48px;
	top:0px;
	background-image:url(images/seething_bazelgeuse.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_168 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:30px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_171 { 
	width:120px;
	height:140px;
	position:absolute;
	left:37px;
	top:170px;
}
.e91_76 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/behemoth.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_170 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:5px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_174 { 
	width:120px;
	height:140px;
	position:absolute;
	left:264px;
	top:170px;
}
.e91_79 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/deviljho.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_173 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:30px;
	position:absolute;
	left:15px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_177 { 
	width:171px;
	height:140px;
	position:absolute;
	left:450px;
	top:170px;
}
.e91_99 { 
	width:120px;
	height:120px;
	position:absolute;
	left:26px;
	top:0px;
	background-image:url(images/savage_deviljho.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_176 { 
	color:rgba(255, 255, 255, 1);
	width:171px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_179 { 
	width:120px;
	height:140px;
	position:absolute;
	left:698px;
	top:170px;
}
.e91_80 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/diablos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_178 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:30px;
	position:absolute;
	left:19px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_181 { 
	width:152px;
	height:140px;
	position:absolute;
	left:900px;
	top:170px;
}
.e91_77 { 
	width:120px;
	height:120px;
	position:absolute;
	left:16px;
	top:0px;
	background-image:url(images/black_diablos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_180 { 
	color:rgba(255, 255, 255, 1);
	width:152px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_183 { 
	width:120px;
	height:140px;
	position:absolute;
	left:916px;
	top:340px;
}
.e91_85 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/kirin.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_182 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:30px;
	position:absolute;
	left:33px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_185 { 
	width:123px;
	height:140px;
	position:absolute;
	left:36px;
	top:340px;
}
.e91_81 { 
	width:120px;
	height:120px;
	position:absolute;
	left:2px;
	top:0px;
	background-image:url(images/dodogama.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_184 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:30px;
	position:absolute;
	left:-2.2737367544323206e-13px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_187 { 
	width:144px;
	height:140px;
	position:absolute;
	left:252px;
	top:340px;
}
.e91_82 { 
	width:120px;
	height:120px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/great_girros.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_186 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_189 { 
	width:140px;
	height:140px;
	position:absolute;
	left:466px;
	top:340px;
}
.e91_83 { 
	width:120px;
	height:120px;
	position:absolute;
	left:10px;
	top:0px;
	background-image:url(images/great_jagras.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_188 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_191 { 
	width:121px;
	height:140px;
	position:absolute;
	left:697px;
	top:340px;
}
.e91_84 { 
	width:120px;
	height:120px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/jyuratodus.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_190 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:30px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_193 { 
	width:129px;
	height:140px;
	position:absolute;
	left:33px;
	top:510px;
}
.e91_86 { 
	width:120px;
	height:120px;
	position:absolute;
	left:5px;
	top:0px;
	background-image:url(images/kulu_ya_ku.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_192 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:30px;
	position:absolute;
	left:-2.2737367544323206e-13px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_195 { 
	width:148px;
	height:140px;
	position:absolute;
	left:250px;
	top:510px;
}
.e91_87 { 
	width:120px;
	height:120px;
	position:absolute;
	left:14px;
	top:0px;
	background-image:url(images/kulve_taroth.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_194 { 
	color:rgba(255, 255, 255, 1);
	width:148px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_198 { 
	width:168px;
	height:140px;
	position:absolute;
	left:452px;
	top:510px;
}
.e91_88 { 
	width:120px;
	height:120px;
	position:absolute;
	left:24px;
	top:0px;
	background-image:url(images/kushala_daora.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_197 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_200 { 
	width:120px;
	height:140px;
	position:absolute;
	left:698px;
	top:510px;
}
.e91_89 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/lavasioth.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_199 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:30px;
	position:absolute;
	left:7px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_202 { 
	width:120px;
	height:140px;
	position:absolute;
	left:37px;
	top:680px;
}
.e91_90 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/legiana.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_201 { 
	color:rgba(255, 255, 255, 1);
	width:83px;
	height:30px;
	position:absolute;
	left:19px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_205 { 
	width:120px;
	height:140px;
	position:absolute;
	left:264px;
	top:680px;
}
.e91_92 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/lunastra.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_204 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:30px;
	position:absolute;
	left:10px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_207 { 
	width:125px;
	height:140px;
	position:absolute;
	left:473px;
	top:680px;
}
.e91_93 { 
	width:120px;
	height:120px;
	position:absolute;
	left:2px;
	top:0px;
	background-image:url(images/nergigante.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_206 { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_209 { 
	width:120px;
	height:140px;
	position:absolute;
	left:698px;
	top:680px;
}
.e91_94 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/odogaron.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_208 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_211 { 
	width:120px;
	height:140px;
	position:absolute;
	left:916px;
	top:680px;
}
.e91_95 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/paolumu.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_210 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:30px;
	position:absolute;
	left:11px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_213 { 
	width:122px;
	height:140px;
	position:absolute;
	left:36px;
	top:850px;
}
.e91_96 { 
	width:120px;
	height:120px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/pukei_pukei.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_212 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_215 { 
	width:120px;
	height:140px;
	position:absolute;
	left:264px;
	top:850px;
}
.e91_97 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/radobaan.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_214 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:5px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_217 { 
	width:120px;
	height:140px;
	position:absolute;
	left:476px;
	top:850px;
}
.e91_98 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rathalos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_216 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:30px;
	position:absolute;
	left:9px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_219 { 
	width:120px;
	height:140px;
	position:absolute;
	left:698px;
	top:850px;
}
.e91_101 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/teostra.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_218 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:30px;
	position:absolute;
	left:17px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_221 { 
	width:146px;
	height:140px;
	position:absolute;
	left:903px;
	top:850px;
}
.e91_102 { 
	width:120px;
	height:120px;
	position:absolute;
	left:13px;
	top:0px;
	background-image:url(images/tobi_kadachi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_220 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_223 { 
	width:136px;
	height:140px;
	position:absolute;
	left:29px;
	top:1020px;
}
.e91_103 { 
	width:120px;
	height:120px;
	position:absolute;
	left:8px;
	top:0px;
	background-image:url(images/tzitzi_ya_ku.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_222 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_225 { 
	width:120px;
	height:140px;
	position:absolute;
	left:264px;
	top:1020px;
}
.e91_104 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/uragaan.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_224 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:30px;
	position:absolute;
	left:11px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_228 { 
	width:128px;
	height:140px;
	position:absolute;
	left:472px;
	top:1020px;
}
.e91_105 { 
	width:120px;
	height:120px;
	position:absolute;
	left:4px;
	top:0px;
	background-image:url(images/vaal_hazak.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_227 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_231 { 
	width:198px;
	height:140px;
	position:absolute;
	left:659px;
	top:1020px;
}
.e91_78 { 
	width:120px;
	height:120px;
	position:absolute;
	left:39px;
	top:0px;
	background-image:url(images/black_vaal_hazak.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_229 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:30px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_234 { 
	width:120px;
	height:140px;
	position:absolute;
	left:916px;
	top:1020px;
}
.e91_106 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/xeno_jiiva.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_232 { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:30px;
	position:absolute;
	left:8px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_237 { 
	width:194px;
	height:140px;
	position:absolute;
	left:0px;
	top:1190px;
}
.e91_107 { 
	width:120px;
	height:120px;
	position:absolute;
	left:37px;
	top:0px;
	background-image:url(images/zorah_magdaros.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_236 { 
	color:rgba(255, 255, 255, 1);
	width:194px;
	height:30px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_239 { 
	width:120px;
	height:140px;
	position:absolute;
	left:264px;
	top:1190px;
}
.e91_91 { 
	width:120px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/leshen.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_238 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:30px;
	position:absolute;
	left:25px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e92_241 { 
	width:163px;
	height:140px;
	position:absolute;
	left:454px;
	top:1190px;
}
.e91_72 { 
	width:120px;
	height:120px;
	position:absolute;
	left:22px;
	top:0px;
	background-image:url(images/ancient_leshen.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e92_240 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:30px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e95_245 { 
	color:rgba(255, 255, 255, 1);
	width:276px;
	height:60px;
	position:absolute;
	left:302.5px;
	top:200px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e135_594 { 
	background-color:rgba(31.79355327039957, 35.70197984576225, 40.587514489889145, 1);
	width:250px;
	height:2470px;
	position:absolute;
	left:0px;
	top:180px;
}
.e135_595 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:38px;
	position:absolute;
	left:30px;
	top:30px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e135_596 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:38px;
	position:absolute;
	left:30px;
	top:98px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e135_597 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:38px;
	position:absolute;
	left:30px;
	top:166px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e135_598 { 
	width:1440px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
}
.e135_599 { 
	width:1440px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/header_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e135_600 { 
	width:144px;
	height:25px;
	position:absolute;
	left:880px;
	top:10px;
}
.e135_601 { 
	color:rgba(255, 255, 255, 1);
	width:51px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e135_602 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:25px;
	position:absolute;
	left:71px;
	top:0px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e135_603 { 
	width:603px;
	height:45px;
	position:absolute;
	left:350px;
	top:110px;
}
.e138_790 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e135_604 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:45px;
	position:absolute;
	left:144px;
	top:0px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e135_605 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:45px;
	position:absolute;
	left:356px;
	top:0px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e135_606 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:45px;
	position:absolute;
	left:491px;
	top:0px;
	font-family:Marcellus SC;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e135_607 { 
	width:260.86956787109375px;
	height:120px;
	position:absolute;
	left:40px;
	top:30px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
